# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Datasets
*.csv
traffic_dataset.csv

# Output and models
output/
saved_models/

# IDEs
.vscode/
.idea/
